.text-center{
    padding:10px;
}
.img-responsive:hover{
    opacity: .60;
}
.screenShotsHeader{
  position: absolute;
  top: 15px;
  left: 15px;
}

.top{
    margin-top:55px;
}

.text-center{
    padding:10px;
    font-weight:100 !important;
}
.img-responsive:hover{
    opacity: .60;
}
.btn{
    margin-right:10px;
}
.main_margin{
    width:90vw;
    margin: 0 auto;
}
.text_margin{
    width:70vw;
    margin: 0 auto;
}
.card-header{
    font-weight:100;
    font-family:helvetica;
    font-size:10px;
}
h5{
    font-family:helvetica;
    font-weight:100;
    font-size:15px;
    padding-left:30px;
}
p{
  margin-bottom:3px;
}
.lead{
  margin-top:50px;
  font-weight:100;
}
#accordion{
  margin-bottom:100px;
  padding-top:50px;
}
.card-header{
  border-color: grey;
  background-color:transparent;
  border-bottom: 0px;
}
.card{
  margin-bottom:10px;
}
.jumbotron{
  background: 
/* top, transparent red, faked with gradient */ 
linear-gradient(
  rgba(0, 0, 250, 0.45), 
  rgba(155, 250, 150, 0.45)
),
/* bottom, image */
url(https://source.unsplash.com/2200x450/?computer+screen);
background-repeat: no-repeat;
background-attachment: fixed;
color:white !important;
height:450px;
}
.container{
  vertical-align: middle;
  top: 15%;
}
.btn-outline-primary{
  border-color: white;
  color:white;
  background-color:transparent;
  margin-top:30px;
  font-weight:100;
}
.btn-outline-primary:hover{
  border-color: transparent;
  color:black;
  background-color:white;
}
.btn-outline-primary:active{
  border-color: transparent;
  color:black;
  background-color:white;
  padding:9px 20px 9px 20px;
}
.rightHeader{
  position: absolute;
  top: -15px;
  right: 8px;
}

.leftHeader{
  position: absolute;
  top: -15px;
  left: 20px;
}

.row{
  margin-left:5px;
  margin-right:5px;
}

.img-responsive{
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
}

div h4{
  margin-bottom:-5px;
}


#cover {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center white;
}

h6{
  font-weight:100;
  font-size:12px;
  padding-left:45px;
}
h6 strong{
  font-weight:600;
}